<div class="container">
  <h1><%= @blog.name %></h1>
  <p class="lead"><%= @blog.description %></p>
  <p id="notice"><%= notice %></p>
  <div class="blog-posts">
    <%= render :partial => "posts/show_post_row", :collection => @blogposts, :as => :post %>
  </div>
</div>
