/*
 *= require_self
 *= require fontawesome
*/

.comments-header {
    border-bottom: 1px dotted gray;
    margin-bottom: 10px;
}

.comment-show {
    margin-left: 25px;
}

.reply-form {
    display: none;
}

.show-reply-button {
    float: right;
    margin-right: 5px;
}
