/*
 *= require_self
 *= require fontawesome
*/

.media-body, .media-right {
    display: table-cell;
    vertical-align: top;
}

.media-body {
    width: 10000px;
}

.comments-header {
    border-bottom: 1px dotted gray;
    margin-bottom: 10px;
}

.comment-show {
    margin-left: 25px;
}

.reply-form {
    display: none;
}

.show-reply-button {
    float: right;
    margin-right: 5px;
}
